#!/usr/bin/make -f

%:
	dh $@

override_dh_autoreconf:
	./autogen.sh --no-geoip

override_dh_auto_configure:
	dh_auto_configure -- --disable-tests --disable-examples                \
		--disable-binaries
